<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Document</title>
</head>

<body>

    <% posts.forEach(function(post) { %>
        <div class="cards">
            <div class="container">

                <h1>
                    title: <%= post.title %>
                </h1>
                <img src="<%= post.imageURL %>" alt="">
                <p>THIS NEED BE REMOVED ID =
                    <%= post._id %>
                </p>
                <p>
                    description: <%= post.description %>
                </p>

                <p>
                    vip: <%= post.vip %>

                </p>
                <p>
                    likes: <%= post.likes %>

                </p>
            </div>

        </div>
        <br>

        <% }) %>


</body>

</html>