<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/post/<%= post._id %>" method="POST">

        <div>
            <p>title:</p>
            <input value="<%= post.title %>" type="text" name="title" id="">

        </div>

        <div>
            <p>imageURL:</p>

            <input value="<%= post.imageURL %>" type="text" name="imageURL" id="">


        </div>

        <div>
            <p>description:</p>

            <input value="<%= post.description %>" type="text" name="description" id="">


        </div>

        <div>
            <p>vip:</p>

            <input value="<%= post.vip %>" type="text" name="vip" id="">


        </div>
        <input type="submit" value="Submit">

    </form>


</body>

</html>