<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <p>
            title:
            <%= post.title %>
        </p>
        <img src="<%= post.imageURL %>" alt="">

        <p>
            description:
            <%= post.description %>
        </p>
        <p>
            vip:
            <%= post.vip %>
        </p>

        <p>likes:
            <%= post.likes %>
        </p>
        <p>
            <%= post.date %>
        </p>
    </h1>
</body>

</html>